
* {
	transition: all 0.3s ease-in-out;

	&:focus {
		outline: none;
	}

}
body {
	font-size: $font-size-base;
	font-weight: $font-weight-base;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

	@media (max-width:600px) {
		font-size: 16px;
	}
}

h1,h2,h3,h4,h5,h6 {
    font-family: $font-family-serif;
}

a {
  cursor: pointer;
	color: #313336;

	&:hover {
		background-color: $brand-primary;
		color: black;
		text-decoration: none;
	}
}

img {
	max-width: 100%;
}

#app {
	padding: 100px 40px 160px 40px;
}

.masthead {
	position:fixed;
	top: 40px;
	left: 40px;
}

.brand {
	z-index:9;
	display: inline-block;
	line-height: 0;

	span {
		display: inline-block;
	}
	.acorn {
		svg {
			width: 40px;
			height: 40px;
		}
	}
}

.nav {
  font-family: $font-family-serif;
	line-height: 1.6em;
	z-index:9;

	@media (max-width:1270px) {
		-webkit-transform: translate3d(0, 0, 0);
		transform : translate3d(0, 0, 0);
		top: auto;
		left: auto;
		bottom: 40px;
		right: 40px;
		text-align: right;
	}

	&.nav--active {

		.nav_button i {
			transform: rotate(45deg);
		}

		.nav_menu {
			bottom: 0;
		}

	}

	.nav_button {
		background-color: $brand-primary;
		display: inline-block;
		border-radius: 100%;
		width: 48px;
		height: 48px;
		border: 0;
		color: black;
		font-size: 22px;
		line-height: 50px;
		visibility: hidden;
		opacity: 0;

		@media (max-width:1270px) {
			visibility: visible;
			opacity: 1;
		}

		&:hover {
			transform: scale(1.1);
		}
	}

	.nav_menu {
		position: relative;
		display: block;
		margin: 40px 0 0;
		padding: 0;
		list-style: none;

		@media (max-width:1270px) {
			background-color: white;
			bottom: -10px;
			min-width: 150px;
			margin: 0 0 20px;
			border-radius: 3px;
			border: 1px solid rgba(0,0,0,0.1);
			padding: 20px;
			text-align: left;
		}

		li {
			margin-bottom: 3px;

			&:last-of-type {
				margin-bottom:0;
			}
			a {
				color: black;
			}
		}
	}
}

.contents {
	max-width: 800px;
	margin: 0 auto;
}

.entries {

  .entries_header {
    margin-bottom: 40px;

    h3 {
      font-size: 20px;
    }
  }
}

.entry {
	margin-bottom: 120px;

	&:last-of-type {
		margin-bottom: 0;
	}

  &.entry--list {

    .entry_header {
      margin: 0;
    }

    .entry_title {
      margin-bottom: 8px;
      font-size: 20px;
    }

    .entry_meta {
      padding-left: 26px;

      .author_avatar {
        width: 18px;
        height: 18px;
      }

      .author_name {
        font-size: 15px;
      }

      .entry_details, .entry_time {
        display: inline-block;
      }

    }

  }

}

.entry_header {
	margin: 0 auto 30px;
}

.entry_title {
	margin: 0 0 15px;
	font-size: 42px;

	a {
		color: black;

		&:hover {
			background-color: $brand-primary;
		}
	}
}

.entry_meta {
	position: relative;
	padding-left: 50px;
	line-height: 1.2;
  font-size: 15px;

	.author_avatar {
		background-color: $brand-primary;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		border-radius: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 36px;
		height: 36px;
	}
	.entry_details, .entry_time {
		display: block;
	}
	.author_name,.category_name {
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
	}
	.entry_date {
		font-size: 13px;
	}
}

.entry_block {
	margin-bottom: 30px;

	&:last-of-type {
		margin-bottom: 0;
	}
	&.entry_block--image {
		margin-left: -40px;
		margin-right: -40px;
	}
}

.entry--list {
    margin-bottom: 20px;
}

.user {
	margin: 0 auto;
	position: relative;
	padding-left: 160px;
	min-height: 140px;
	line-height: 1.8em;
}
.user_avatar {
	background-color: $brand-primary;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 140px;
	height: 140px;
}
.user_name {
	margin: 0;
	color: black;
}
.user_title {
	margin: 5px 0 0;
	color: black;
	font-size: 16px;
}
.user_social {
	margin: 5px 0 0;
	padding: 0;

	li {
		margin-right: 3px;
		display: inline-block;

		a {
			background-color: $brand-primary;
			display: inline-block;
			border-radius: 100%;
			width: 25px;
			height: 25px;
			color: black;
			text-align: center;
			font-size: 14px;
			line-height: 24px;

			i {
				vertical-align: middle;
			}

			&:hover {
				background-color: black;
				color: $brand-primary;
			}
		}
	}
}

.user_bio {
	margin: 20px 0 0;
	font-size: 16px;
}

label {
	color: black;
}

.site-footer {
	margin-top: 100px;
	font-size: 15px;
}
