
*:focus {
	outline: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

body {
	font-size: $font-size-base;
  font-weight: $font-weight-base;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  color: rgba(0,0,0,.84);
  line-height: 1.7;

	@media (max-width:600px) {
		font-size: 16px;
	}
}

h1,h2,h3,h4,h5,h6 {
  font-family: font(serif);
  font-weight: 300;
}

a {
  background-color: transparent;
  cursor: pointer;
  color: #313336;
  transition: all 100ms ease;

	&:hover {
		background-color: $brand-primary;
		color: color(black);
		text-decoration: none;
	}
}

img {
	max-width: 100%;
}

#app {
  padding: 0 40px;
}

.site-search {
	position: relative;
  z-index: 40;
  display: block!important;

	.search-form {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: white;
		padding: 0 40px;
		box-shadow: 0 2px 38px 0 rgba(0,0,0,0.08);
		z-index: 2;
		transform: translateY(-150%);
		transition: all 500ms ease-in-out;

		@at-root {
			body.site-search-open {
				.search-form {
					transform: translateY(0);
					visibility: visible;
				}
			}
		}

		button, input {
			height: 5rem;
			border: 0;
			border-radius: 0;
			box-shadow: none;

			&:focus {
				outline: none;
				border: 0;
				box-shadow: none;
			}
		}
	}

	.search-overlay {
		background-color: rgba(0,0,0,0.05);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		cursor: pointer;
		opacity: 0;
		visibility: hidden;
		transition: all 500ms ease-in-out;

		@at-root {
			body.site-search-open {
				.search-overlay {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}

.navbar {

	.navbar-acorn {

		svg {
			width: 30px;
			height: 30px;
      fill: color(black);
      transition: all 100ms ease;

      &:hover {
        fill: color(green);
      }
		}
  }

	.navbar-end {

		.navbar-item {
			padding-left: 0.6rem;
      padding-right: 0.6rem;
		}
	}
}

.contents {
  margin: 100px 0 160px;

	> div {
		margin-bottom: 60px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.author {
  max-width: 760px;
  margin: 0 auto;
}

.posts {

	> h2 {
		font-size: 62px;
		color: color(black);
    margin: 0 0 80px;
    text-align: center;
	}

  .posts_header {
    margin-bottom: 40px;

    h3 {
      font-size: 20px;
    }
  }
}

.post {
  max-width: 760px;
  margin: 0 auto;

  > * {
    margin-bottom: 40px;
  }

	&:last-of-type {
		margin-bottom: 0;
	}

  &.post--list {

    .post_header {
      margin: 0;
    }

    .post_title {
      margin-bottom: 8px;
      font-size: 20px;
    }

    .post_meta {
      padding-left: 26px;

      .author_avatar {
        width: 18px;
        height: 18px;
      }

      .author_name {
        font-size: 15px;
      }

      .post_details, .post_date {
        display: inline-block;
			}

			.post_date {
				margin-left: 10px;
			}

    }

  }

}

.post_title {
	margin: 0 0 15px;
	font-size: 42px;
	color: color(black);

	a {
		color: color(black);

		&:hover {
			background-color: $brand-primary;
		}
	}
}

.post_meta {
	position: relative;
	padding-left: 50px;
	line-height: 1.2;
  font-size: 15px;

	.author_avatar {
		background-color: $brand-primary;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		border-radius: 3px;
		position: absolute;
		top: 0;
		left: 0;
		width: 36px;
		height: 36px;
  }

	.post_details, .post_time {
		display: block;
  }

	.author_name,.category_name {
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
  }

	.post_date {
		font-size: 13px;
	}
}

.post_image {
  margin-left: -7vw;
  width: calc(100% + 14vw);
}

.post--list {
  margin-bottom: 20px;
}

.user {
	margin-bottom: 80px;
	position: relative;
	padding-left: 140px;
	min-height: 120px;
	line-height: 1.8em;
}

.user_details {
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height:120px;
}

.user_avatar {
	background-color: $brand-primary;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 3px;
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 120px;
}

.user_name {
	font-size: 30px;
	margin: 0;
	color: color(black);
}

.user_title {
	margin: 5px 0 0;
	color: color(black);
	font-size: 16px;
}

.user_social {
	margin: 5px 0 0;
	padding: 0;

	li {
		margin-right: 3px;
		display: inline-block;

		a {
			display: inline-block;
			color: color(black);
			font-size: 18px;

			i {
				vertical-align: middle;
			}

			&:hover {
				background-color: transparent;
				color: $brand-primary;
			}
		}
	}
}

.user_bio {
	margin: 20px 0 0;
	font-size: 17px;
}

label {
	color: color(black);
}

.content {
  font-size: 20px;

	p, dl, ol, ul, blockquote, pre, table {

		&:not(:last-child) {
			margin-bottom: 1.4em;
		}
	}

	.table thead th {
		color: $brand-primary;
		font-weight: 500;
	}

	ul, ol {

		li {
			margin-bottom: 3px;
		}
	}

	> *:last-child {
		margin-bottom: 0;
	}

	a {

		&:not(.button) {
			border-bottom: 1px solid transparent;
			color: $brand-primary;
			text-decoration: none;

			&:hover {
				border-color: $brand-primary;
			}
		}
	}

	strong {
		color: $brand-primary;
		font-weight: normal;
	}

	div {
		max-width: 100%;
	}

	blockquote {
		padding: 30px;
		border-left: 4px solid $brand-primary;
		font-style: italic;
		font-size: 20px;
		line-height: 1.8em;

		h1, h2, h3, h4, h5, h6, .btn {
			font-style: normal;
		}

		p:last-child {
			margin: 0;
		}

		cite {
			color: $brand-primary;
		}

	}

	img {

		&.img_round {
			border-radius: 100%;
		}
	}
}

.subscribe {
  background-color: rgba(0,0,0,0.04);
  max-width: 900px;
  margin: 160px auto 0;
  padding: 90px 100px;
  text-align: center;

  h3 {
    margin: 0 0 10px;
    font-size: 34px;
    font-family: monospace;
    font-weight: normal;
  }

  p {
    max-width: 400px;
    margin: 0 auto 60px;
  }

  form {
    max-width: 450px;
    margin: 0 auto;

    input[type=email], input[type=text] {
      margin-bottom: 20px;
      border-width: 0 0 2px 0;
      border-color: color(black);
      border-style: solid;
      border-radius: 0;
      box-shadow: none;
      padding-left: 0;
      padding-right: 0;
      background-color: transparent;

      &:focus {
        outline: none;
        border: 0;
        box-shadow: none;
      }
    }

    input[type=submit] {
      width: 100%;
    }
  }
}

.site-footer {
  margin: 40px 0 160px;

  .copyright {
    margin: 20px 0 0;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    text-align: center;
  }
}
