
*:focus {
	outline: none;
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

body {
	font-size: $font-size-base;
  font-weight: $font-weight-base;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.004);
  color: rgba(0,0,0,.84);
  line-height: 1.7;

	@media (max-width: 37.5rem) {
		font-size: 1.1em;
	}
}

h1,h2,h3,h4,h5,h6 {
  font-family: font(serif);
  font-weight: 300;
  line-height: 1.3;
}

a {

  &:not(.button) {
    background-color: transparent;
    cursor: pointer;
    color: #313336;
    transition: all 100ms ease;

    &:hover {
      background-color: $brand-primary;
      color: color(black);
      text-decoration: none;
    }
  }
}

#app {
  padding: 0 1.2em;
}

.site-search {
	position: relative;
  z-index: 40;
  display: block!important;

	.search-form {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: white;
		padding: 0 2.5rem;
		box-shadow: 0 0.125rem 2.375rem 0 rgba(0,0,0,0.08);
		z-index: 2;
		transform: translateY(-150%);
		transition: all 500ms ease-in-out;

		@at-root {
			body.site-search-open {
				.search-form {
					transform: translateY(0);
					visibility: visible;
				}
			}
		}

		button, input {
			height: 80px;
			border: 0;
			border-radius: 0;
			box-shadow: none;

			&:focus {
				outline: none;
				border: 0;
				box-shadow: none;
			}
		}
	}

	.search-overlay {
		background-color: rgba(0,0,0,0.05);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		cursor: pointer;
		opacity: 0;
		visibility: hidden;
		transition: all 500ms ease-in-out;

		@at-root {
			body.site-search-open {
				.search-overlay {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}

.navbar {

	> .container {
		display: flex;
	}

	.navbar-acorn {

		svg {
			width: 1.875rem;
			height: 1.875rem;
      fill: color(black);
      transition: all 100ms ease;

      &:hover {
        fill: color(green);
      }
		}
  }

	.navbar-end {
		display: flex;
		align-items: stretch;
		justify-content: flex-end;
    margin-left: auto;

		.navbar-item {
			padding-left: 9.6px;
      padding-right: 9.6px;
		}
	}

	.navbar-item {
		display: flex;
		align-items: center;

		&:hover {
			color: color(green);
			background-color: transparent;

			svg {
				fill: color(green);
			}
		}
	}
}

.contents {
	margin: 6.25rem 0 2rem;

	@media (max-width: 54.5rem) {
		margin-top: 3.25rem;
	}

	.container {

		> div {
			margin-bottom: 8rem;

			@media (max-width: 29.5rem) {
				margin-bottom: 6rem;
			}

			&.author {
				margin-bottom: 4rem;
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}

.author {
  max-width: 47rem;
  margin: 0 auto;
}

.posts {

	> h1 {
		font-size: 3.5rem;
		color: color(black);
    margin: 0 0 7.5rem;
		text-align: center;

		@media (max-width: 54.5rem) {
			font-size: 2.5rem;
		}

		@media (max-width: 29.5rem) {
			font-size: 2rem;
		}
	}

  .posts_header {
    margin-bottom: 2.5rem;

    h3 {
      font-size: 1.25rem;
    }
	}

	.post {

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.post {
  position: relative;
  max-width: 47rem;
	margin: 0 auto 8rem;

	@media (max-width: 29.5rem) {
		margin-bottom: 6rem;
	}

  > * {
    margin-bottom: 2.5rem;
  }

  &.post--list {
    margin-bottom: 1.875rem;

    .post_header {
      margin: 0;
    }

    .post_title {
      margin-bottom: 0.5rem;
      font-size: 1.25rem;
    }

    .post_meta {
      padding-left: 1.625rem;

      .author_avatar {
        width: 1.125rem;
        height: 1.125rem;
      }

      .author_name {
        font-size: 0.9375rem;
      }

      .post_details, .post_date {
        display: inline-block;
			}

			.post_date {
				margin-left: 0.625rem;
			}
    }
  }
}

.post_title {
	margin: 0 0 1.5rem;
	font-size: 2.6rem;
	color: color(black);

	@media (max-width: 54.5rem) {
		font-size: 2.2rem;
	}

	@media (max-width: 29.5rem) {
		font-size: 1.8rem;
	}

	a {

    &:not(.button) {
      color: color(black);

      &:hover {
        background-color: $brand-primary;
      }
    }
	}
}

.post_meta {
	position: relative;
	padding-left: 3.125rem;
	line-height: 1.2;
  font-size: 0.9375rem;

	.author_avatar {
		background-color: $brand-primary;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		border-radius: 0.1875rem;
		position: absolute;
		top: 0;
		left: 0;
		width: 2.25rem;
		height: 2.25rem;
  }

	.post_details, .post_time {
		display: block;
  }

	.author_name,.category_name {
    font-weight: 500;
    font-size: 1rem;
    text-transform: capitalize;
  }

	.post_date {
		font-size: 0.8125rem;
	}
}

.post_image {
  margin-left: -6vw;
	width: calc(100% + 12vw);

	picture {

		img {
			max-width: 100%;
			width: 100%;
		}
  }
  
  a:hover {
    background-color: transparent;
    border: none;
  }
}

.post_control {
  position: absolute;
  top: 0;
  right: 0;
}

.user {
	position: relative;
	padding-left: 8.75rem;
	min-height: 7.5rem;
	line-height: 1.8em;

	@media (max-width: 29.5rem) {
		padding-left: 6.75rem;
	}

	@media (max-width: 25rem) {
		padding-left: 0;
	}
}

.user_details {
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height:7.5rem;
}

.user_avatar {
	background-color: $brand-primary;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 0.1875rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 7.5rem;
	height: 7.5rem;

	@media (max-width: 29.5rem) {
		width: 5.5rem;
		height: 5.5rem;
	}

	@media (max-width: 25rem) {
		position: relative;
		top: auto;
		left: auto;
		width: 6.5rem;
		height: 6.5rem;
		margin-bottom: 1.2rem;
	}
}

.user_name {
	font-size: 1.875rem;
	margin: 0;
	color: color(black);
}

.user_title {
	margin: 0.3125rem 0 0;
	color: color(black);
	font-size: 1rem;
}

.user_social {
	margin: 0.3125rem 0 0;
	padding: 0;

	li {
		margin-right: 0.1875rem;
		display: inline-block;

		a {
			display: inline-block;
			color: color(black);
			font-size: 1.125rem;

			i {
				vertical-align: middle;
			}

			&:hover {
				background-color: transparent;
				color: $brand-primary;
			}
		}
	}
}

.user_bio {
	margin: 1.25rem 0 0;
	font-size: 1.0625rem;
}

label {
	color: color(black);
}

.card {

  &.card--auth {

    h1 {
      font-size: 2.375rem;
      margin: 0 0 1.875rem;
      text-align: center;
    }
  }

  .card-brand {
    text-align: center;

    svg {
      width: 3.125rem;
      height: 3.125rem;
    }
  }
}

.content {

  a {
    border-bottom: 0.125rem solid color(green);
	}

	p,
  dl,
  ol,
  ul,
  blockquote,
  pre,
  table,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
    &:not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {

		&:not(:first-child) {
			margin-top: 3.5rem;
		}
	}

	ul, ol {

		li {
			margin-bottom: 0.3rem;
		}
	}

	> *:last-child {
		margin-bottom: 0;
	}

	strong {
		font-weight: 500;
	}

	div {
		max-width: 100%;
	}

	pre {
		font-size: 0.9rem;
	}

	blockquote {
		font-size: 1.8rem;
	}

	img {

		&.img_round {
			border-radius: 100%;
		}
	}

	.image-left, .image-right, .image-full {
		margin-bottom: 1.8rem;
		max-width: none;
		width: 100%;

		.image-photo {
			line-height: 0;
		}

		@media (max-width: 54.5rem) {
			display: block;
			margin-bottom: 1.1428em;
		}

		small {
			font-family: font(serif);
			font-size: 1rem;
			margin-top: 0.5rem;

			@media (max-width: 54.5rem) {
				display: block;
				max-width: 47rem;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
			}
		}

		img {
			width: 100%;
		}
	}

	.image-left, .image-right {
		display: inline-block;
		max-width: calc(40% + 10vw);
		margin-right: 2rem;
		margin-left: 2rem;

		&:not(:first-child) {
			margin-top: 0.55rem;
		}
	}

	.image-left {
		margin-left: -6vw;
		float: left;
	}

	.image-right {
		margin-right: -6vw;
		float: right;
	}

	.image-full {
		display: block;
		width: calc(100% + 12vw);
		margin-left: -6vw;

		small {
			padding: 0 1.2em;
			display: block;
			max-width: 47rem;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.image-full, .image-left, .image-right {

		@media (max-width: 54.5rem) {
			width: 100%;
			max-width: none;
			float: none;
			margin-left: 0;
			margin-right: 0;
		}

		.image-photo {

			@media (max-width: 54.5rem) {
				width: calc(100% + 12vw);
				margin-left: -6vw;
				max-width: none;
			}
		}

		small {
			padding: 0;
		}
	}
}

.subscribe {
  background-color: rgba(0,0,0,0.04);
  max-width: 56rem;
  margin: 0 auto;
  padding: 5rem 2rem;
	text-align: center;

	@media (max-width: 475px) {
		margin-left: -1.2rem;
		margin-right: -1.2rem;
	}

  h3 {
    margin-bottom: 0.6rem;
    font-family: monospace;
		font-weight: normal;
		font-size: 2rem;

		@media (max-width: 475px) {
			font-size: 1.6rem;
		}
  }

  p {

		&:not(.help) {
			max-width: 25rem;
			margin: 0 auto 3.75rem;
		}
  }

  .form {
    max-width: 26rem;
		margin: 0 auto;
		text-align: left;

    input[type=email], input[type=text] {
      border-width: 0 0 0.125rem 0;
      border-color: color(black);
      border-style: solid;
      border-radius: 0;
      box-shadow: none;
      padding-left: 0;
      padding-right: 0;
      background-color: transparent;

      &:focus {
        outline: none;
        box-shadow: none;
			}

			&.is-danger {
				border-color: #ff3860;
			}
    }

    button {
			width: 100%;
			font-family: font(serif);
    }
	}

	.notification {
		display: inline-block;
		margin: 0 auto;
		padding: 1.25rem 1.5rem;
		text-align: center;
	}
}

.site-footer {
  margin: 2.5rem 0 10rem;
	text-align: center;

  .copyright {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.0375rem;
	}

	.nav-utility {
    margin: 0.5rem 0 0;
    text-transform: uppercase;
		font-size: 0.8rem;

		li {
			margin: 0 0.3rem;
			display: inline-block;
		}
	}
}

.page-title {
	font-size: 2rem;
	margin-bottom: 1.5rem;
}

.card {
	margin-bottom: 1.75rem;

	.card-header {
		background-color: #fafafa;
	}

	.card-header-title {
		font-weight: normal;
		border-bottom: 1px solid #E2E2ED;
		font-size: 1rem;
		padding: 0.75rem 0.75rem 0.65rem;
	}

	.card-content {
		padding: 1rem;

		label {
			font-weight: normal;
			font-family: font(serif);
		}
	}

	.mce-panel {
		border: 0;
		box-shadow: none;
	}
}

.fade-enter,
.fade-leave-to { opacity: 0 }

.fade-leave,
.fade-enter-to { opacity: 1 }

.fade-enter-active,
.fade-leave-active { transition: opacity 300ms }
