
*:focus {
	outline: none;
}

body {
	font-size: $font-size-base;
	font-weight: $font-weight-base;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

	@media (max-width:600px) {
		font-size: 16px;
	}
}

h1,h2,h3,h4,h5,h6 {
    font-family: $font-family-serif;
}

a {
  cursor: pointer;
	color: #313336;

	&:hover {
		background-color: $brand-primary;
		color: black;
		text-decoration: none;
	}
}

img {
	max-width: 100%;
}

#app {
	padding: 160px 40px;
}

.masthead {
	position:fixed;
	top: 40px;
	left: 40px;
}

.brand {
	z-index:9;
	display: inline-block;
	line-height: 0;

	span {
		display: inline-block;
	}
	.acorn {
		svg {
			width: 40px;
			height: 40px;
		}
	}
}

.nav {
  font-family: $font-family-serif;
	line-height: 1.6em;
	z-index:9;

	&.nav--active {

		.nav_button i {
			transform: rotate(45deg);
		}

		.nav_menu {
			bottom: 0;
		}

	}

	.nav_button {
		background-color: $brand-primary;
		display: inline-block;
		border-radius: 100%;
		width: 48px;
		height: 48px;
		border: 0;
		color: black;
		font-size: 22px;
		line-height: 50px;
		visibility: hidden;
		opacity: 0;

		&:hover {
			transform: scale(1.1);
		}
	}

	.nav_menu {
		position: relative;
		display: block;
		margin: 40px 0 0;
		padding: 0;
		list-style: none;

		li {
			margin-bottom: 3px;

			&:last-of-type {
				margin-bottom:0;
			}
			a {
				color: black;
			}
		}
	}
}

.contents {
	max-width: 800px;
	margin: 0 auto;

	> div {
		margin-bottom: 60px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.entries {

	> h2 {
		font-size: 42px;
		text-transform: capitalize;
		color: black;
		margin: 0 0 60px;
	}

  .entries_header {
    margin-bottom: 40px;

    h3 {
      font-size: 20px;
    }
  }
}

.entry {
	margin-bottom: 120px;

	&:last-of-type {
		margin-bottom: 0;
	}

  &.entry--list {

    .entry_header {
      margin: 0;
    }

    .entry_title {
      margin-bottom: 8px;
      font-size: 20px;
    }

    .entry_meta {
      padding-left: 26px;

      .author_avatar {
        width: 18px;
        height: 18px;
      }

      .author_name {
        font-size: 15px;
      }

      .entry_details, .entry_date {
        display: inline-block;
			}
			
			.entry_date {
				margin-left: 10px;
			}

    }

  }

}

.entry_header {
	margin: 0 auto 30px;
}

.entry_title {
	margin: 0 0 15px;
	font-size: 42px;
	color: black;

	a {
		color: black;

		&:hover {
			background-color: $brand-primary;
		}
	}
}

.entry_meta {
	position: relative;
	padding-left: 50px;
	line-height: 1.2;
  font-size: 15px;

	.author_avatar {
		background-color: $brand-primary;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		border-radius: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 36px;
		height: 36px;
	}
	.entry_details, .entry_time {
		display: block;
	}
	.author_name,.category_name {
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
	}
	.entry_date {
		font-size: 13px;
	}
}

.entry_block {
	margin-bottom: 30px;

	&:last-of-type {
		margin-bottom: 0;
	}
	&.entry_block--image {
		margin-left: -40px;
		margin-right: -40px;
	}
}

.entry--list {
    margin-bottom: 20px;
}

.user {
	margin: 0 auto;
	position: relative;
	padding-left: 160px;
	min-height: 140px;
	line-height: 1.8em;
}

.user_details {
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height:140px;
}

.user_avatar {
	background-color: $brand-primary;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 140px;
	height: 140px;
}

.user_name {
	font-size: 30px;
	margin: 0;
	color: black;
}

.user_title {
	margin: 5px 0 0;
	color: black;
	font-size: 16px;
}

.user_social {
	margin: 5px 0 0;
	padding: 0;

	li {
		margin-right: 3px;
		display: inline-block;

		a {
			display: inline-block;
			color: black;
			font-size: 18px;

			i {
				vertical-align: middle;
			}

			&:hover {
				background-color: transparent;
				color: $brand-primary;
			}
		}
	}
}

.user_bio {
	margin: 20px 0 0;
	font-size: 18px;
}

label {
	color: black;
}

.subscribe {
	display: none;
}

.content {

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 1em;

		&:not(:first-child) {
			margin-top: 1.5em;
		}
	}

	p, dl, ol, ul, blockquote, pre, table {

		&:not(:last-child) {
			margin-bottom: 1.4em;
		}
	}

	.table thead th {
		color: $brand-primary;
		font-weight: 500;
	}

	ul, ol {

		li {
			margin-bottom: 3px;
		}
	}

	> *:last-child {
		margin-bottom: 0;
	}

	a {

		&:not(.button) {
			border-bottom: 1px solid transparent;
			color: $brand-primary;
			text-decoration: none;

			&:hover {
				border-color: $brand-primary;
			}
		}
	}

	strong {
		color: $brand-primary;
		font-weight: 600;

		em {
			font-weight: 600;
		}
	}

	div {
		max-width: 100%;
	}

	blockquote {
		padding: 30px;
		border-left: 4px solid $brand-primary;
		font-style: italic;
		font-size: 20px;
		line-height: 1.8em;

		h1, h2, h3, h4, h5, h6, .btn {
			font-style: normal;
		}

		p:last-child {
			margin: 0;
		}

		cite {
			color: $brand-primary;
		}

	}

	img {

		&.img_round {
			border-radius: 100%;
		}
	}

	.alignleft {
		float: left;
		margin: 0 15px 30px 0;
	}

	.aligncenter {
		display: block;
		margin: 0 auto 30px auto;
	}

	.alignright {
		float: right;
		margin: 0 0 30px 15px;
	}

	.alignnone {
		display: block;
		float: none;
		margin: 0 0 30px 0;
	}

	.size-full {
		margin: 0 0 30px 0;
		width: 100%;
		height: auto;
	}

	p .alignleft {
		float: left;
		margin: 5px 30px 30px 0;
	}

	p .aligncenter {
		display: block;
		margin: 0 auto 30px auto;
	}

	p .alignright {
		float: right;
		margin: 0 0 30px 30px;
	}

	p .alignnone {
		display: block;
		float: none;
		margin: 0 0 30px 0;
	}

	p .size-full {
		margin: 0 0 30px 0;
		width: 100%;
		height: auto;
	}

	.gallery-caption {
		font-style: italic;
		font-size: 16px;
		line-height: 1.8em;

		p:last-child {
			margin: 0;
		}
	}

	.gallery {
		@include clearfix();
	}
}

.site-footer {
	margin-top: 100px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.6px;
}
