// Body
$body-bg: white;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #bbb900;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

//
$doe-colors: (  green: #bbb900,
                purple: #241628,
                gray: #8d8d8d,
                black: #241628);

// Typography
$doe-fonts: ( serif : unquote("'Clarendon LT W01 Light', Georgia, 'Times New Roman', Times, serif"),
          sans-serif:  unquote("BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif"));

$font-family-serif: "Clarendon LT W01 Light", Georgia, "Times New Roman", Times, serif;
$font-family-sans-serif: "Roboto", "Proxima N W01 Light", HelveticaNeue-Light, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 18px;
$font-weight-base: 300;
$line-height-base: 2;
$text-color: #56595f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Bulma Overrides
$grey-dark: color(black);
$primary: color(green);

// Navbar
$navbar-background-color: transparent;
$navbar-height: 6rem;
$navbar-item-color: color(black);
$navbar-item-hover-color: color(green);
