
body { padding-top: 70px; }

h1,h2,h3,h4,h5,h6 {
    font-family: $font-family-serif;
}

.navbar-brand {
    height: 52px;
    font-family: $font-family-serif;
	
	span {
		display:inline-block;
	}
	
	.navbar-acorn {
		margin-right:5px;
		
		svg {
			width: 23px;
			height: 24px;
		}
		
	}
	
	.navbar-title {
		color: black;
		font-size: 22px;
		vertical-align: top;
		line-height: 27px;
	}
	
}
